<div class="savingsInfo" ng-class="{'greyed': isOnClippedList(item), 'featured': item.IsFeatured, 'merry': item.BrandName.indexOf('erry') > 0, 'holiday': item.BrandName.indexOf('oliday') > 0, 'freefriday': item.BrandName.indexOf('riday') > 0, 'tags-{{item.Tags}}': item.Tags }">
  <div class="hidden meta">
    <div class="product-code">{{item.ProductCode}}</div>
    <div class="product-id">{{item.Id}}</div>
    <div class="product-subcategory">{{item.SubCategory}}</div>
    <div class="product-priority">{{item.OfferPriority}}</div>
    <div class="product-tags">{{item.Tags}}</div>
  </div>
  <div class="row">
    <div class="imageContainer">
      <img data-ng-src="{{item.SmallImageUrl || getThemeUrl('/images/no_image.jpg')}}" alt="{{item.Description1}}" />
    </div>
	<div class="digital" gsn-coupon-popover="" popover-html="<strong>{{item.BrandName}}</strong><p><b>{{item.Description1 || trustedHtml}}<b></p><p>{{item.Description2}}</p>">
      <strong data-ng-bind-html="item.BrandName"></strong>
	  <p><b data-ng-bind-html="item.Description1"></b></p>
      <p data-ng-bind-html="item.Description2"></p>
    </div>
  </div>

  <div class="row buttons">
      <div class="col-sm-12"  data-ng-hide="isLoggedIn">
      <button class="btn btn-default btn-xs btn-block" data-gsn-modal="getThemeUrl('/views/modal-login.html')" data-ng-click="preClipCoupon(item); showModal()"><i class="fa fa-scissors"></i>Clip Coupon</button>
        </div>
      <div class="col-sm-12" data-ng-show="isLoggedIn">
        <button class="btn btn-default btn-xs btn-block " data-ng-click="addCouponToCard($event, item)" data-ng-show="!isOnClippedList(item)" data-ng-disabled="!youtech.isAvailable(item.ProductCode) || !youtech.hasValidCard()"><i class="fa fa-scissors"></i>Clip Coupon</button>
        <button class="btn btn-default btn-xs btn-block greyed" data-ng-show="isOnClippedList(item)" disabled><i class="fa fa-scissors"></i>{{ youtech.hasRedeemed(item.ProductCode) ? "Redeemed" : "Clipped" }}</button>
      </div>
  </div>
  <div class="row expirationDate" data-bindonce="">
    <p>expires: {{item.EndDate | date: 'M / dd / yyyy'}}</p>
  </div>
</div>
