<div class="hidden-meta" data-gsn-title="{{ChainName}} coupons"></div>
<div class="row" data-ctrl-coupon-roundy="" gsn-redirect-on-resize data-min="750" data-url="/coupons" data-ng-init="itemsPerPage = 18">
  <div class="col-md-2 sidebar">
    <div class="getNav" data-ng-include="getThemeUrl('/views/menu.html')"></div>
    <div class="row" data-ng-include="getThemeUrl('/views/layout-sidebar-bottom.html')"></div>
  </div>
  <div class="col-md-10" data-ng-init="couponType = 'printable'; sortByName = 'About to Expire'; disableCouponPrinter = true;">
    <div class="row topPod" data-gsn-ad-unit="1" data-ng-if="',visible-lg,visible-md'.indexOf(bsDisplayMode) > 0"></div>
    <div class="col-md-12 pageContent tabs-content">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-5 tab tab-left" data-ng-click="goUrl('/coupons')">
            <img data-ng-src="{{getContentUrl('/images/e-clips-logo.png')}}" /> Digital Coupons</div>
            <div class="col-md-5 tab tab-right tab-active hidden-xs" data-ng-click="goUrl('/coupons/printable')">Printable Coupons</div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 coupons-content">
        <div class="row">
          <div class="help pull-right">
            <a href="/printablecouponhelp">
              <i class="fa fa-question-circle"></i> Coupon Help
            </a>
          </div>
        </div>
        </div>
        <div class="coupons" style="width: 100%; text-align: center">
<noscript>
<p>Coupons powered by <a href="https://www.coupons.com?pid=13903&nid=10&zid=xh20&bid=1436600001">Coupons.com</a></p>
</noscript>
<script id="scriptId_718x940_161331" type="text/javascript" src="//bcg.coupons.com/?scriptId=161331&bid=1436600001&format=718x940&bannerType=3&channel=kroger">
</script>
        </div>
        <div data-ng-include="getThemeUrl('/views/coupons-printable-panel.html')" gsn-flexible-width="" gsn-sticky="" data-bottom="0" data-reload-on-change="selectedCoupons.items.length"></div>
      </div>
    </div>
  </div>

  <div class="hidden" style="display:none">
    <div data-gsn-modal="getThemeUrl('/views/coupons-plugin-install.html')" data-show-if="printer.notinstalled" data-event-to-close="gsnevent:gcprinter-ready"></div>
    <div data-gsn-modal="getThemeUrl('/views/coupons-plugin-blocked-noprint.html')" data-show-if="printer.notsupported" data-event-to-close="gsnevent:gcprinter-ready"></div>
    <div data-gsn-modal="getThemeUrl('/views/coupons-plugin-blocked.html')" data-show-if="printer.blocked" data-event-to-close="gsnevent:gcprinter-ready"></div>
    <div data-gsn-modal="getThemeUrl('/views/coupons-plugin-result.html')" data-show-if="printer.printed != null"></div>
    <div data-gsn-modal="getThemeUrl('/views/coupons-plugin-ready.html')" data-show-if="printer.total > 0"></div>
  </div>
</div>
