<div class="visible-lg visible-md" data-ng-class="{ 'visible-sm visible-xs': gvm.menuInactive }">
  <ul class="nav nav-tabs nav-stacked" role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
    <li class="hidden-lg hidden-md">
      <div class="input-group searchField">
        <input type="text" class="form-control" placeholder="site search" data-ng-model="search.site" name="sitesearch" data-ui-keyup="{'enter':'doSiteSearch()'}" />
        <span class="input-group-btn">
          <button type="button" data-ng-click="doSiteSearch()" class="btn btn-default">go</button>
        </span>
      </div>
      <div class="input-group searchField">
        <input type="text" class="form-control" placeholder="item search" data-ng-model="search.item" name="itemsearch" data-ui-keyup="{'enter':'doItemSearch()'}" />
        <span class="input-group-btn">
          <button class="btn btn-default" data-ng-click="doItemSearch()">go</button>
        </span>
      </div>
    </li>
    <li data-ng-repeat="menu in siteMenu" class="dropdown" dropdown itemprop="name">
      <a data-ng-href="{{menu.Path}}" data-ng-if="menu.Path != '#'" itemprop="url" target="{{menu.OpenWindow ? '_blank' : ''}}"><i class="fa fa-chevron-right pull-right hidden"></i>{{menu.Name}}</a>
      <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" data-ng-if="menu.Path == '#' || menu.Path == ''" itemprop="name">
        {{menu.Name}} <i class="fa fa-caret-down pull-right"></i>
      </a>
      <ul class="dropdown-menu dropdown-menu-touch" data-ng-if="menu.Path == '#'" >
        <li data-ng-repeat="sm in menu.SubMenu" itemprop="name">
          <a data-ng-href="{{sm.Path}}" itemprop="url" target="{{sm.OpenWindow ? '_blank' : ''}}"><i class="fa fa-chevron-right pull-right hidden"></i>{{sm.Name}}</a>
        </li>  
      </ul>
    </li>
  </ul>
</div>