<div class="modal-content">
    <p align="center"><br/>Please click on the logo below for the site you wish to visit.</p>
	<div class="modal-footer">
	<p align="center">
		<a href="http://www.roundys.com/ess" target="_blank" ><img src ="https://upload.brickinc.net/chainfiles/225/creative/201701/636196425379068976-logo_roundys.jpg"></a>
		<a href="http://ess.kroger.com" target="_blank" ><img src ="https://upload.brickinc.net/chainfiles/225/creative/201701/636196425420409727-kroger.png"></a>
	</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-ng-click="closeModal()">Close</button>
	</div>
</div>
