<link type="text/css" href="//www.google.com/cse/style/look/default.css" rel="stylesheet" />
<div class="row">
  <div class="col-md-2 sidebar">
    <div class="getNav" data-ng-include="getThemeUrl('/views/menu.html')"></div>
    <div class="row" data-ng-include="getThemeUrl('/views/layout-sidebar-bottom.html')"></div>
  </div>
  <div class="col-md-10">
    <div class="col-md-8">
      <div id="cse" data-gsn-site-search="" data-query="q">Loading</div>
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>
